<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>To-Do</title>
</head>

<body>
    <h1>Add your new task:</h1>
    <form method="POST" th:object="${task}">
        <div class="deadLine">
            <label for="deadline">Enter the deadline:</label>
            <input type="date" id="deadline" th:field="*{deadline}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('deadline')}"
                  th:errors="*{deadline}">deadline Error</span>
        </div>

        <div class="title">
            <label for="title">Enter your task title:</label>
            <input type="text" id="title" th:field="*{title}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}">title Error</span>
        </div>

        <div class="description">
            <label for="description">Enter your task description:</label>
            <textarea id="description" th:field="*{description}"></textarea>
            <span class="validationError"
                  th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">detail Error</span>
        </div>

        <input type="submit" value="Add Task"/>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
    </form>
</body>
</html>