<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do</title>
</head>

<body>
    <h1>Login:</h1>

    <div th:if="${param.error}">
        <p>Unable to login. Check your username and password.</p>
    </div>

    <p><a th:href="@{/register}">Register</a></p>

    <form method="POST" th:action="@{/login}">
        <h3>Username:</h3>
        <input type="text" name="username" id="username" />
        <br />
        <h3>Password:</h3>
        <input type="password" name="password" id="password" />
        <br/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>